/* AdminPanel.css */
.app-container h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .app-container button {
    margin-right: 10px;
  }
  
  .modal-content {
    border-radius: 0;
  }
  
  .table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .table .action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table .action-buttons button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 2px;
  }
  
  .modal-body form {
    margin-bottom: 0;
  }
  